# Node modules
/node_modules

yarn.lock
pnpm-lock.yaml
package-lock.json
install-state.gz

# Build output
/dist

# Vite
/.vite

# Testing
/coverage

# System files
.DS_Store
*.log

# Env files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Storybook build
/storybook-static

# Misc
*.pem
.pnpm-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

TODO.md